html, body, main, #map {
  height: 100%;
  margin: 0px;
}
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.button-success,
.button-error,
.button-warning,
.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.button-success {
  background: rgb(28, 184, 65); /* this is a green */
}
.button-error {
  background: rgb(202, 60, 60); /* this is a maroon */
}
.button-warning {
  background: rgb(223, 117, 20); /* this is an orange */
}
.button-secondary {
  background: rgb(66, 184, 221); /* this is a light blue */
}
main {
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
  box-sizing:border-box;
  height:100%;
  position:relative;
}
#button-home {
  z-index: 9999;
  position: absolute;
  bottom: 24px;
  left: 8px;
  font-size: 125%;
}
.popup {
  z-index: 9999;
  opacity: 1;
  background-color: #11ff11;
  position: absolute;
  top: 0%;
  width: 100%;
  text-align: center;
}
.pure-menu-link {
  opacity: 1;
  color: blue;
}
.panel {
  background-color: rgba(245, 245, 245, 0.8);
  position: relative;
  margin: 10px auto;
  padding: 8px;
  height: 80%;
  border-radius: 12px;
  width: 80%;
}
.panel h2 { text-align: center; font-size: 1.5em; }
.table-wrapper {
  margin: 0 auto;
  width: 90%;
}

@media (min-width:640px) and (min-height:480px) {
  .pure-menu-link {
    font-size: 150%;
  }
}

@media (orientation:portrait) and (max-width:25em) {
.calculator { top: 1.75em; }
.panel { width: 90%;  }
.panel legend { font-size: 75%; }
.panel label { font-size: 75%; }
h2.win-header { font-size: 1.25em; }
.pure-menu-link { font-size: 90%; }
}

@media (orientation:portrait) and (max-width:30em) {
.calculator { top: 2em; }
.panel { width: 95%; height: 90%; }
.panel label { font-size: 75%; }
.panel input { font-size: 75%; }
h2.win-header { font-size: 0.9em; }
}

.panel input.tweak {
  color: black;
  font-weight: bold;
  font-size: larger;
}
.panel input.tweak[readonly] {
  color: black;
  font-weight: bold;
}
